
/*div {
  outline: 1px solid blue;
}*/

/* * * * * * Common * * * * */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

html,
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #2e2e2e;
  height: 100%;
  z-index: 1;
}

h2 {
  font-size: 18px;
  line-height: 30px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
}
.btn:disabled,
.btn.disabled {
  opacity: 0.5;
  cursor: default;
}
.btn:hover {
  background-color: #d6494d;
}
.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.wrapper {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header {
  background: #eeeeee;
  min-height: 100px;
  padding-top: 27px;
}

.header-logo {
  float: left;
}

nav.header-menu {
  float: right;
  margin-top: 25px;
}

.header-menu ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.header-menu li {
  display: inline-block;
  vertical-align: top;
}

.header-menu a {
  margin-left: 45px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.header-menu a:hover {
  color: #fb565a;
}

.header-menu a:active {
  opacity: 0.15;
  color: #000000;
}

.header-menu a.current {
  padding-bottom: 2px;
  border-bottom: 2px solid #fb565a;;
}

.header-menu a.cart {
  margin-left: 68px;
}

.header-menu a.cart::before {
  font-family: "symbols-nerds";
  content: "\62";
  opacity: 0.3;
  color: #000000;
  font-size: 16px;
  line-height: 9px;
  text-transform: none;
  margin-right: 15px;
}

.header-menu a.cart:hover::before {
  opacity: 1;
  color: #fb565a;
}

.header-menu a.cart:active::before {
  opacity: 0.15;
  color: #000000;
}

.no-js .map-canvas {
  position: relative;
  min-height: 416px;
  width: 1200px;
  background: #e9e5dc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: url("../img/map.png") no-repeat 50% 50%;
}

.no-js .map-pointer {
  position: absolute;
  bottom: 118px;
  right: 170px;
  width: 190px;
  height: 190px;
  background: url("../img/map-pointer.png") no-repeat 0 50%;
}

.map-canvas {
  position: relative;
  height: 416px;
  width: 100%;
  background: #e9e5dc;
  margin-bottom: 80px;
}



.contacts {
  position: absolute;
  top: 90px;
  width: 209px;
  min-height: 185px;
  background: #fff;
  padding: 22px 20px 30px;
  z-index: 2;
}

.contacts .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.contacts p {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #666666;
}

.contacts .btn {
  position: absolute;
  left: 23px;
  bottom: 26px;
  width: 204px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.contacts .btn:hover {
  background-color: #d6494d;
}
.contacts .btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.main-footer {
  margin-bottom: 80px;
}

.socials {
  float: left;
  margin-right: 45px;
}

.social-btn {
  display: inline-block;
  margin-right: 28px;
  vertical-align: top;
  width: 61px;
  height: 62px;
  font-size: 0;
  border-color: #000000;
  position:relative;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-decoration: none;
}
.social-btn:hover {
  background-color: #fb565a;
}
.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}
.social-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: symbols;
  font-size: 23px;
  line-height: 16px;
}

.social-btn-vk::before {
  content: "\76";
  font-family: "symbols-nerds";
}

.social-btn-fb::before {
 content: "\66";
  font-family: "symbols-nerds";
}

.social-btn-inst::before {
  content: "\1f4f7";
  font-family: "symbols-nerds";
}

.lets-be-friends {
  float: left;
  margin-top: -6px;
}

.lets-be-friends .title {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 10px;
}

.lets-be-friends p {
  margin: 0;
  padding: 0;
  color: #283136;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.modal-feedback {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -317px;
  margin-top: -210px;
  width: 460px;
  min-height: 312px;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  padding: 55px 90px 50px 80px;
  z-index: 999;
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.modal-feedback.show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-feedback input,
.modal-feedback label,
.modal-feedback textarea {
  margin: 0;
  padding: 0;
  outline: 0;
}

.modal-feedback input,
.modal-feedback textarea {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding: 8px 14px;
  width: 100%;
  box-sizing: border-box
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #a2a9ac;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border: 2px solid #56bffb;
}


.modal-feedback input.error,
.modal-feedback textarea.error {
  border: 2px solid red;
}

.modal-feedback textarea {
  resize: none;
}

.modal-feedback label {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 9px;
}

.modal-feedback .form-field-text {
  float: left;
  width: 220px;
  margin-bottom: 20px;
}

.form-field-text:first-child {
  margin-right: 20px;
}

.modal-feedback .form-textarea {
  float: left;
  width: 460px;
}

.modal-feedback .btn-send {
  position: absolute;
  left: 80px;
  bottom: 50px;
  width: 460px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  outline: none;
}
.modal-feedback .btn-send:hover,
.modal-feedback .btn-close:hover,
.modal-feedback .btn-send:focus {
  background-color: #d6494d;
}
.modal-feedback .btn-send:active,
.modal-feedback .btn-close:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.modal-feedback .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 41px;
  height: 41px;
  border: 0;
  border-radius: 50%;
  background: url("../img/cross.png") no-repeat 50% 50%;
  background-color: #fb565a;
  cursor: pointer;
  outline: 0;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

.modal-overlay.show {
  display: block;
}



/* * * * * * index.html * * * * */
.slider {
  background: #eeeeee;
  margin-bottom: 80px;
}

.slides {
  position: relative;
  height: 310px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active {
  display: block;
}

.slide-text {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}

.slide-text .title{
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.slide-text p {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.slide .btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 29px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-pic-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url("../img/slider-pic-2.png");
  background-repeat: no-repeat;
  background-position: 99% 13px;
}

.slide:nth-child(2) .slide-text {
  width: 477px;
}

.slide:nth-child(3) {
  background-image: url("../img/slider-pic-3.png");
  background-repeat: no-repeat;
  background-position: 99% -9px;
}

.slide:nth-child(3) .slide-text {
  width: 467px;
}

.slider-controls {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -110px;
  padding-left: 0;
  list-style: none;
  text-align: center;
  z-index: 50;
}

.slider-controls > li {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
}

.slider-controls > li.active {
  background: #c1c1c1;
}

.features {
  margin-bottom: 60px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;

}

.feature {
  float:left;
  width: 240px;
  margin-right: 80px;
}

.feature img {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.feature h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.feature > p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  color: #283136;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.feature .btn {
  padding: 10px 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.btn-yellow {
  background-color: #efc84a;
}
.btn-yellow:hover {
  background-color: #d6ae2c;
}
.btn-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}

.btn-green {
  background-color: #00ca74;
}
.btn-green:hover {
background-color: #01a25e;
}
.btn-green:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.feature:last-child {
  margin-right:0;
}

.about-us {
  padding-bottom: 33px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 42px;
}

.about-us h1,
.about-us h2,
.about-us p,
.about-us ul {
  margin: 0;
  padding: 0;
}

.about-us ul {
  list-style: none;
}

.about-us li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.about-us li:last-child {
  margin-bottom: 0;
}

.about-us li::before {
  content: "";
  position: absolute;
  width: 25px;
  top: 50%;
  left:0;
  border-bottom: 2px solid #fb565a;
}


.about-us h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 13px;
  margin-bottom: 16px;
}

.about-us h2,
.about-us p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about-us h2 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

h2.decorated {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  background-color: #ffffff;
  z-index: 5;
}

.decor-line {
  position: relative;
  top: -43px;
  border-bottom: 2px solid #eeeeee;
  z-index: 1;
}

.about-us .centred {
  text-align: center;
}

.about-us-row {
  margin-bottom: 42px;
}

.about-us-row:nth-child(2) {
  margin-bottom: 38px;
}

.about-us-column-left {
  width: 575px;
  float: left;
}

.about-us-column-right {
  width: 240px;
  float: right;
}

ul.partners {
  margin: 0;
  padding: 0;
  list-style:none;
  font-size: 0;
  padding-bottom: 34px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 85px;
}

ul.partners li {
  display: inline-block;
  margin-right: 101px;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
  width: 220px;
  opacity: 0.2;
}

ul.partners li:last-child {
  margin-right: 0;
}

ul.partners li:hover,
ul.partners li:active {
  opacity: 1;
}


/* * * * * * catalog.html * * * * */
.greeting {
  background: #eeeeee;
  margin-bottom: 80px;
}

.greeting .title {
  text-align: center;
  padding: 23px 115px 85px 100px;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}

.filter {
  float: left;
  margin-right: 60px;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
  margin-bottom: 49px;
}

fieldset label {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

legend {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 19px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background: #ababab;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls input {
  padding: 8px 10px;
  width: 60px;
  margin-left: 7px;
  background-color: #f1f1f1;
  border-radius: 5px;
  color: #283136;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  border: none;
}

.price-controls label {
  color: #283136;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

.price-field:first-child {
  float:left;
}
.price-field:last-child {
  float:right;
}

input[type="checkbox"],
input[type="radio"] {
  display:none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: block;
  margin:0;
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

input[type="checkbox"] + label:last-child,
input[type="radio"] + label:last-child {
  margin: 0;
}

input[type="checkbox"] + label::before {
  font-family: "symbols-nerds";
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  color: #c1c1c1;
  font-size: 28px;
  line-height: 20px;
}

input[type="checkbox"] + label:hover::before,
input[type="radio"] + label:hover::before {
  color: #b5b5b5;
}

input[type="checkbox"]:checked + label::before {
  font-family: "symbols-nerds";
  content: "\2611";
}

input[type="checkbox"]:disabled + label,
input[type="checkbox"].disabled + label,
input[type="checkbox"]:disabled + label::before,
input[type="checkbox"].disabled + label::before,
input[type="radio"]:disabled + label,
input[type="radio"].disabled + label,
input[type="radio"]:disabled + label::before,
input[type="radio"].disabled + label::before {
  opacity: 0.3;
  color: #b5b5b5;
  cursor: default;
}

input[type="radio"] + label::before {
  font-family: "symbols-nerds";
  content: "\25cb";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  color: #c1c1c1;
  font-size: 28px;
  line-height: 20px;
}

input[type="radio"]:checked + label::before {
  font-family: "symbols-nerds";
  content: "\25cf";
}

.btn-filter {
  margin-top: 10px;
  width: 155px;
  text-align: center;
  padding: 10px 0;
  color: #000000;
  background-color: #f1f1f1;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.btn-filter:hover {
  background-color: #e5e5e5;
}
.btn-filter:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.sorting {
  margin-bottom: 17px;
  text-transform: uppercase;
}

.sorting ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.sorting li {
  display: inline-block;
}

.sorting a {
  text-decoration: none;
}
.sorting-title {
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
  font-size: 12px;
  line-height: 12px;
}

.sort-field a {
  border-bottom: 1px dotted #00ca74;
  padding-bottom: 1px;
  opacity: 0.3;
  color: #000000;
  font-size: 12px;
  line-height: 12px;
}

.sort-field a:hover {
  opacity: 1;
  border-bottom: 1px solid #00ca74;
}

.sort-field a:active,
.sort-field a[selected] {
  opacity: 1;
  border-bottom: none;
}

.sort-field {
  padding-right: 45px;
}

.sort-direction {
  width: 15px;
  position: relative;
  margin: 0;
  font-size: 0;
  display: inline-block;
}

.sort-direction::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
      -ms-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  font-size: 23px;
  line-height: 20px;
  color: #c1c1c1;
}

.sort-direction[selected]::before,
.sort-direction.selected::before {
  color: #00ca74;
}

.sort-direction:active::before {
  color: #000000;
}

.sort-desc{
  right: -57px;
}

.sort-asc {
  right: -59px;
}

.sort-desc::before {
  font-family: "symbols-nerds";
  content: "\25bc";

}

.sort-asc::before {
  font-family: "symbols-nerds";
  content: "\25b2";
}


.catalog {
  width: 560px;
  float: right;
  margin-bottom: 80px;
}

.catalog .items {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.catalog .catalog-item {
  position: relative;
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 80px;
  background-color: #f1f1f1;
  width: 240px;
  height: 270px;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-item:hover {
  background-color: #797979;
}

.catalog-item:hover .item-content {
  display: block;
}

.catalog .catalog-item:nth-child(2n) {
    margin-right: 0;
  }

.catalog-item ul.item-controls {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin:0;
  padding: 0;
  padding-left: 5px;
  height: 31px;
}

ul.item-controls li {
  display: inline-block;
  height: inherit;
  padding: 11px 4px;
}

.item-controls .round {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 23px;
  line-height: 20px;
}

.catalog-item > img {
  height: 240px;
}

.catalog-item .item-content {
  position: absolute;
  top: 48px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  display: none;
}

.item-content .item-name {
  position: relative;
  text-align: center;
  margin: 10px auto;
  margin-top: 37px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.item-content .item-description {
  text-align: center;
  margin: 16px auto;
  padding: 0 10px;
  font-size: 14px;
  line-height: 18px;
}

.item-name a {
  text-decoration: none;
  color: #000000;
}

.btn-buy {
  position: absolute;
  left: 30px;
  bottom: 27px;
  width: 140px;
  text-align: center;
  padding: 9px 0;
}
.btn-buy:hover {
  background-color: #d6494d;
}
.btn-buy:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.paginator {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.paginator > li {
  display: inline-block;
  margin-right: 10px;
}

.btn-pager {
  min-width: 28px;
  padding: 13px 5px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  background-color: #f1f1f1;
  text-align: center;
}

.btn-pager:hover {
  background-color: #e5e5e5;
}

.btn-pager:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.btn-pager.current {
  padding: 11px 3px;
  background-color: #ffffff;
  border: 2px solid #f1f1f1;
}

.btn-pager-arrow {
  width: 130px;
}
